.imageContainer{
    position: relative;
    width: 250px;
    max-width: 100%;
}
.imageContainer img.image-hover{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .5s ease;
}
.imageContainer:hover img.image-hover {
    opacity: 1;
  }